// 主题色
$color-primary: #ee0a24;
$color-primary-light: #ff5050;
$color-bg-page: #f7f8fa;
$color-text: #333;
$color-text-secondary: #666;
$color-text-muted: #999;
$radius-base: 10px;
$padding-page: 12px;

:root {
  --color-text: var(--van-text-color, #323233);
  --color-background-2: #fafafa;
  --color-block-background: #ffffff;
  --color-border: var(--van-border-color, #ebedf0);
}

html.dark {
  --color-text: var(--van-text-color, #f5f5f5);
  --color-background-2: var(--van-background-2, #1c1c1e);
  --color-block-background: var(--van-background-2, #1c1c1e);
  --color-border: var(--van-border-color, #3a3a3c);
}
